editors/sublime/Doxy.sublime-license
old_dconf
editors/nvim/plugged
editors/nvim/plugin
editors/nvim/.*
autokey/My\ Phrases
autokey/Sample\ Scripts
*/__pycache__
*.spl
playgrounds/*
!playgrounds/.templates*
