[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
	ignore = dirty
[submodule "editors/KoalaConfig"]
	path = editors/KoalaConfig
	url = git@github.com:ofirgall/KoalaConfig.git
	ignore = all
[submodule "dotfiles/zsh-conf"]
	path = dotfiles/zsh-conf
	url = git@github.com:ofirgall/zsh-conf.git
	ignore = all
