snippet ipython
	import IPython
	IPython.embed()
snippet main
	def main():
		$0

	if __name__ == '__main__':
		main()
snippet maintyper
	import typer

	def main(${1:name}: ${2:str}):
		typer.echo(f'${3:Hello} {$1}')

	if __name__ == '__main__':
		typer.run(main)
