[Unit]
Description=Lock the screen automatically after a 15 mins

[Service]
Type=simple
Environment=DISPLAY=:0
ExecStart=/usr/bin/xautolock -time 15 -locker /usr/bin/i3lock-fancy -detectsleep

[Install]
WantedBy=graphical.target
